@CHARSET "UTF-8";
body {
  min-height: 2000px;
  padding-top: 70px;
}

#nav_bar {
	background-color: rgb(33,128,213);
}

#navbar_header>a {
	color: #000;
}

#navbar>ul>li>a {
	color: #000;
}

.ui-dialog .ui-dialog-content {
padding:2em
}

#dialog {
	background-color: #F5F5F5
}