@CHARSET "UTF-8";
body{
	background-color: rgb(33,128,213);
}

h1 {
	color: white;
	text-align: center;
}

input.invalid { 

    background-color: #00ff00 ;
    border-style : solid;
    border-color : red; 
} 
